.containerMenu{
    width: 100%;
    background-color: black;
    display: grid;
    position: fixed;    
}

.titleLogo{
    color: white;
    margin: 0 auto;
    font-family: 'Rye', cursive;
}

.titleBanner{
    background-color: red;
    color: white;
    margin: 0 auto;
    border: 1px solid white;
    padding-bottom: 10px;
    padding-left: 4.688rem;
    padding-right: 4.688rem;
    padding-top: 10px ;
    font-family: 'Rye', cursive;
    
}


.navbar.active{
    width: 100%;
    display: flex;
    position: sticky;
    background-color: #403c3c;
    padding: 1em;
    
}

.teste{
    justify-content: end;
    list-style: none;
    display: flex;

}


.navbar.inactive{
    visibility: hidden;
}

.listTitle{
    display: flex;
    list-style: none;
}

.list{
    display: flex;
    list-style: none;
}

.link{
    
    text-decoration: none;
    margin-right: 1em;
    color: white;
    font-family:'Roboto Condensed', sans-serif;
}  

.link:hover{
    color: #d7d0d0;
}

.menuLogo{
    width: 20px;
    height: 20px;
}   