.containerMenu{
    width: 100%;
    display: flex;
    background-color: #403c3c;
    padding: 1em;
    justify-content: center;
    position: fixed;
    
}


.navbar.active{
    width: 100%;
    display: flex;
    position: sticky;
    background-color: #403c3c;
    padding: 1em;
    
}

.teste{
    justify-content: end;
    list-style: none;
    display: flex;

}


.navbar.inactive{
    visibility: hidden;
}

.listTitle{
    display: flex;
    list-style: none;
}

.list{
    display: flex;
    list-style: none;
}

.link{
    
    text-decoration: none;
    margin-right: 1em;
    color: white;
    font-family:'Roboto Condensed', sans-serif;
}  

.link:hover{
    color: #d7d0d0;
}

.menuLogo{
    width: 20px;
    height: 20px;
}   