.containerTop{      
        width: 100%;
        display: flex;
        background-color: #403c3c;
        padding: 1em;
        justify-content: end;
        position: fixed;    
}

.listTitleTop{
    display: flex
}