.navbar{
    display: flex;
    position: sticky;
    background-color: #403c3c;
    padding: 1em;
    
}

.listTitle{
    
    list-style: none;
    
}

.list{
    display: flex;
}

.link{
    
    text-decoration: none;
    margin-right: 1em;
    color: white;
    font-family:'Roboto Condensed', sans-serif;
}  

.link:hover{
    color: #d7d0d0;
}

.bolsaLogo{
    width: 20px;
    height: 20px;
}   