* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair', serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}

html,
body,
#root {
  background-color: #d7d0d0;
  height: 100%;
}

link{
  color: red;
}

.title{
  margin: 0 auto;
  color: #4A1601;
  margin-top: 4vw;
}


