* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair', serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}

html,
body,
#root {
  background-color: black;
  height: 100%;
}

link{
  color: red;
}

.title{
  margin: 0 auto;
  color: red;
  margin-top: 15vw;
}


